@import "fonts.css";
:root{
    --main-bg-color: var(--primary-100);
    --main-text-color: #f4f4f4;
    --main-link-color: #007bff;
    --main-link-hover-color: #0056b3;
    --main-border-color: #ccc;
    --main-border-radius: 5px;
    --main-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --main-transition: 0.3s;

    --primary-100: #5F5AFA;
    --primary-200: #5A87FA;
    --primary-300: #5ABAFA;
    --primary-400: #5AECFA;
    --primary-500: #945AFA;
    --primary-600: #2A65FA;
}

/* 
#5F5AFA
#5A87FA
#5ABAFA
#5AECFA
#945AFA
#2A65FA */

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
}

header {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

header .logo {
    color: var(--main-text-color);
    font-size: 2rem;
    font-weight: 700;
    span{margin-left: 1rem;}
}

header .logo svg {
    font-size: 4rem;
    /* background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    background: var(--primary-500);
    color: white;
    /* border: 4px solid var(--primary-400); */
    border-radius: 50%;
    padding: 0.8rem;
    width: 100px;
    height: 100px;
}
main{
    margin: 20px;
    padding: 20px;
    border: none;
}